<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido! <%= name%></h1>
    <img src="<%= avatar%>" alt="">
    <h2>MENU</h2>
    <a href="http://localhost:8080/api/productos">Ver Productos</a>
    <a href="http://localhost:8080/api/carrito/63684823b81a58305affbf38/productos">Ver Carrito</a>
    <a href="http://localhost:8080/logout">Logout</a>
</body>
</html>